<%= render partial: "shared/merchant_header", object: @invoice.merchant_object(params[:merchant_id]), :as => :merchant %>
<h1 align="center"> Invoice ID: <%= @invoice.id %></h1>
<p>Status: <%= @invoice.status %></p>
<p>Created: <%= @invoice.created_at.strftime( "%A, %b %e, %Y") %></p>
<p>Customer: <%= @invoice.customer.first_name %> <%=  @invoice.customer.last_name %></p>
<br><br>
<% @invoice.invoice_items.each do |ii| %>
  <% if ii.item.merchant_id == params[:merchant_id].to_i %>
  <div id="ii-<%= ii.id %>">
    <h3><%= ii.item.name %></h3>
    Quantity: <%= ii.quantity %><br>
    Unit Price: $<%= '%.2f' % ii.item.unit_price_to_dollars %><br>
    <% if @invoice.top_discount && ii.quantity >= Discount.find(@invoice.top_discount.id).quantity%>
      Discount: <%= link_to "#{@invoice.top_discount.id}", "/merchants/#{params[:merchant_id]}/discounts/#{@invoice.top_discount.id}" %>
    <% end %>
      <%= form_with url: "/merchants/#{ii.item.merchant_id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
      <%= form.label :ii_status, "Status: "%>
      <%= form.select :ii_status, ["packaged", "pending", "shipped"], selected: ii.status %>
      <%= form.submit "Update Invoice" %>
      <% end %>
    </div>
    <br><br>
  <% end %>
<% end %>

Total Revenue: $<%= ('%.2f' % @invoice.total_revenue.fdiv(100)) %><br>
Total Revenue with Discount: $<%=('%.2f' % (@invoice.total_revenue.fdiv(100) - @invoice.total_revenue_discounted.fdiv(100)))%>
